{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"react-hooks"
	],
	"rules": {
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"@typescript-eslint/no-namespace": "off"
	},
	"extends": [
		"plugin:react-hooks/recommended"
	]
}
